@import "tailwindcss";

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@theme {
    /*Font*/
    --font-roboto: 'Roboto', system-ui, sans-serif;
}